{% extends 'registration/sign_up_access_base.html' %} {% load static %} <br />
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access Page</title>
  </head>

  <body>
    <h1>Verify Your Admission Number / Staff ID</h1>
    <br />
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br />
    {% if messages %} 
      {% for message in messages %} <span style="color:red">{{ message }}</span> {% endfor %}
    {% endif %}
  </body>
</html>

{% endblock content %}
