{% extends 'registration/sign_up_access_base.html' %} {% load static %} <br />
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access Page</title>
  </head>
  <body>
    <h1>Enter Your Admission Number / Staff ID</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
  </body>
</html>

{% endblock content %}
