<!-- Sidebar  -->

{% load static %}
<nav id="sidebar">
  <div class="sidebar_blog_1">
    <div class="sidebar-header">
      <div class="logo_section">
        <a href="index.html"
          ><img
            class="logo_icon img-responsive"
            src="{% static 'img/school_logo.jpg' %}"
            alt="#"
        /></a>
      </div>
    </div>
    <div class="sidebar_user_info">
      <div class="icon_setting"></div>
      <div class="user_profle_side">
        <div class="user_img">
          <img
            class="profile-pic"
            src="{{ request.user.picture.url }}"
            style="width: 50px; height: 50px; border-radius: 100%"
          />
        </div>

        <div class="user_info">
          <h6>
            <span class="name_user">
              {% comment %}user name was here {% endcomment %}
              <strong> {{request.user.role}} </strong>
            </span>
          </h6>
          <p><span class="online_animation"></span> Online</p>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar_blog_2">
    <h4>General</h4>

    <div class="">
      <!-- <style>
        .top-side {
          background-size: cover;
          background-position: top center;
        }
      </style> -->

      <div class="main-menu">
        <!-- {% url 'profile' as prof %} {% url 'lecturer_list' as lec %} {% url
        'student_list' as stu %} {% url 'course_allocation_view' as cav %} {%
        url 'programs' as pro %} {% url 'session_list' as sess %} {% url
        'semester_list' as sem %} {% url 'add_score' as ascore %} {% url
        'grade_results' as vr %}{% url 'ass_results' as ar %} {% url
        'course_registration' as cr %} {% url 'edit_profile' as ep %} {% url
        'change_password' as cp %} {% url 'quiz_progress' as qpr %} {% url
        'quiz_marking' as qce %} {% url 'user_course_list' as ucl %} {% url
        'admin_panel' as admin_p %} -->
        <ul>
          {% if request.user.is_superuser %}

          <li class="{% if request.path == hom %}active{% endif %}">
            <a href="{% url 'admin_home' %}"
              ><i class="fas fa-home" style="color: blue"></i> Home</a
            >
          </li>
          <li class="{% if request.path == dash %}active{% endif %}">
            <a href=""
              ><i class="fas fa-tachometer-alt" style="color: green"></i>
              Dashboard</a
            >
          </li>
          <li class="{% if request.path == admin_p %}active{% endif %}">
            <a href="{% url 'view_teachers' %}"
              ><i class="fas fa-user-tie"></i>View Teachers</a
            >
          </li>
          <li class="{% if request.path == admin_p %}active{% endif %}">
            <a href="{% url 'view_students' %}"
              ><i class="fas fa-user-tie"></i>View Students</a
            >
          </li>
          <li class="{% if request.path == idn %}active{% endif %}">
            <a href="{% url 'retrieve_identification_numbers' %}"
              ><i class="fas fa-id-card"></i> Identification Number</a
            >
          </li>
          <li class="user_profile_dd">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"
              ><i class="fas fa-book"></i
              ><span>
                <strong> Manage Timetable</strong>
              </span></a
            >
            <div
              class="dropdown-menu"
              style="background-color: rgb(33, 65, 98)"
            >
              <a
                class="dropdown-item"
                href=""
                style="color: rgb(255, 87, 34); font-weight: bold"
                >Create Subject</a
              >
              <a
                class="dropdown-item"
                href=""
                style="color: rgb(255, 87, 34); font-weight: bold"
                >Subject Lists</a
              >
            </div>
            {% endif %}
          </li>

          <div class=""></div>

          {% if request.user.role == "teacher" %}
          <li class="{% if request.path == ucl %}active{% endif %}">
            <a href="{% url 'teacher_home' %}"
              ><i class="fas fa-tachometer-alt" style="color: green"></i>
              Dashboards</a
            >
          </li>
          <li class="{% if request.path == ucl %}active{% endif %}">
            <a href=""><i class="fas fa-book yellow_color"></i>Subjects</a>
          </li>
          <li class="{% if request.path == ucl %}active{% endif %}">
            <a href=""
              ><i class="fas fa-book yellow_color"></i>View Timetable</a
            >
          </li>

          <li>
            <a href=""
              ><i class="fas fa-calendar-alt blue_color"></i> My Timetable</a
            >
          </li>
          <li>
            <a href=""><i class="fas fa-chalkboard-teacher"></i> My Classes</a>
          </li>
          <li>
            <a href=""><i class="fas fa-book"></i> Assignments</a>
          </li>
          <li>
            <a href=""><i class="fas fa-calendar-check"></i> Events</a>
          </li>
          <li>
            <a href=""><i class="fas fa-users"></i> Students</a>
          </li>
          <li>
            <a href=""><i class="fas fa-bell"></i> Notifications</a>
          </li>

          {% endif %} {% if request.user.role == "student" %}
          <li class="{% if request.path == ucl %}active{% endif %}">
            <a href="{% url 'student_home' %}"
              ><i class="fas fa-home" style="color: blue"></i> Home</a
            >
          </li>
          <li class="{% if request.path == ucl %}active{% endif %}">
            <a href=""
              ><i class="fas fa-tachometer-alt" style="color: green"></i>
              Dashboards</a
            >
          </li>
          <li class="{% if request.path == ucl %}active{% endif %}">
            <a href=""><i class="fas fa-bell"></i>Events/News</a>
          </li>
          <li class="{% if request.path == ucl %}active{% endif %}">
            <a href=""
              ><i class="fas fa-calendar-alt yellow_color"></i> View
              Timetable</a
            >
          </li>

          {% endif %} {% if request.user.is_superuser %}
          <hr />
          <li class="user_profile_dd">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"
              ><i class="fa fa-cog yellow_color"></i>
              <span>
                <strong> Settings</strong>
              </span></a
            >
            <div
              class="dropdown-menu"
              style="background-color: rgb(33, 65, 98)"
            >
              <a
                class="dropdown-item"
                href=""
                style="color: rgb(255, 87, 34); font-weight: bold"
                >Session</a
              >
              <a
                class="dropdown-item"
                href=""
                style="color: rgb(255, 87, 34); font-weight: bold"
                >Term</a
              >
            </div>
          </li>

          {% endif %}
          <hr />
          <li>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button
                type="submit"
                style="
                  background-color: black;
                  color: white;
                  width: 100%;
                  margin: 15px;
                  text-align: left;
                  padding-left: 25px;
                  height: 38px;
                "
              >
                <span>Log Out <i class="fa fa-sign-out"></i></span>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- end sidebar -->
