{% load static %}


<!-- templates/base_generic.html -->
<!DOCTYPE html>
<html lang="en">
<!-- base_generic.html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My School Timetable</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/timetable.css' %}">
</head>

<body>

    <header>
        <h1>Welcome to My School Timetable</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        <!-- The content of the page will go here -->
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 My School Timetable</p>
    </footer>``
     <script src="{% static 'js/timetable.js' %}"></script>

</body>
</html>
