{% extends 'base_generic.html' %} {% comment %}
<div class="">{% block title %}{{ title }}{% endblock title %}</div>
{% endcomment %} {% load crispy_forms_tags %} {% load static %} <br />
{% block content %}
<div id="input-nav">
  <a href="{% url 'admin_home' %}" class="primary1">Home</a>
  <a href="{% url 'add_identification_numbers' %}" class="primary1"
    >Identification Numbers</a
  >
  Edit
</div>
<br />

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <p class="form-title">Update Admission Number / Staff ID Form</p>
      <div class="p-3">
        <br />

        <form method="post">
          {% csrf_token %}

          <div>{{form.as_p}}</div>

          <button type="submit" class="btn btn-primary">Update Number</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
